@mixin button{
  background-color: $rot;
  border: 2px solid $rot;
  color: white;
  padding: .4rem .6rem;
}

@mixin header{
  text-align: center;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2.5rem;
}
