@charset "UTF-8";
/* ===FARBEN=== */
/*
Blau:      #1F4E8C
Grey:      #3d3f45
Hell grey: #E5E5E5
Rot:       #A62C21
*/
/* ===FARBEN=== */
/*
Blau:      #1F4E8C
Grey:      #3d3f45
Hell grey: #E5E5E5
Rot:       #A62C21
*/
/* ===GLOBAL=== */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", "Raleway", sans-serif;
  font-size: 16px;
}

:focus {
  outline: none;
  box-shadow: 0 0 2px 2px #F0F0F0, 0 0 10px #F0F0F0;
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (max-width: 1366px) {
  section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
@media (max-width: 1024px) {
  section {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  section {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 1024px) {
  .leistungen-box {
    width: 100%;
    margin-bottom: 0.6rem;
  }

  #leistungen-section .row > .col-3:nth-of-type(even) > .leistungen-box {
    margin-left: 0.5rem;
  }

  #leistungen-section .row > .col-3:nth-of-type(odd) > .leistungen-box {
    margin-right: 0.5rem;
  }
}
/* ===GENERELLES=== */
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.activ {
  background-color: #A62C21 !important;
}

/* NAVIGATIONSLEISTE */
.main-nav {
  width: 100%;
  height: 50px;
  background-color: #3d3f45;
  position: relative;
}
.main-nav img {
  height: 30px;
  width: auto;
  float: left;
  margin: 0.55em;
}
.main-nav ul {
  margin: 0;
  padding: 0;
  float: right;
  height: 100%;
}
.main-nav ul li {
  list-style-type: none;
  display: inline-block;
  font-size: 18px;
  height: 100%;
  padding: 0 0.4rem 0 0.4rem;
}
.main-nav ul li a {
  margin-top: 15px;
  display: inline-block;
}
.main-nav ul li a:link {
  color: white;
  text-decoration: none;
}
.main-nav ul li a:active {
  color: #E5E5E5;
  text-decoration: none;
}
.main-nav ul li a:hover {
  text-decoration: none;
  color: #E5E5E5;
}
.main-nav ul li a:visited {
  color: white;
  text-decoration: none;
}
.main-nav .col-6 {
  padding-top: 0;
  padding-bottom: 0;
}
.main-nav .container, .main-nav .row, .main-nav .col-6 {
  height: 100%;
}

.activ {
  background-color: #A62C21;
}

.logo-link {
  display: inline-block;
}

/* NAVIGATIONSLEISTE (Mobile)*/
.mobile-nav-button {
  color: white;
  float: right;
  font-size: 2rem;
  border: 2px solid white;
  width: 37px;
  height: 37px;
  position: relative;
  margin-top: 0.4rem;
  margin-bottom: 7px;
}
.mobile-nav-button span {
  position: absolute;
  left: 7px;
  bottom: -2px;
}

.mobile-nav-content > ul > li {
  display: block;
  height: 50px;
  padding: 0 1.2rem;
  background-color: #3d3f45;
  text-align: center;
}

.mobile-nav-content {
  position: absolute;
  right: 0;
  top: 50px;
  display: none;
}

.mobile-nav-dropdowm {
  position: relative;
  display: inline-block;
  float: right;
}

.mobile-nav-dropdowm:hover > .mobile-nav-content {
  display: block;
}

.mobile-nav {
  display: none;
}

@media (max-width: 768px) {
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }
}
/* ===HEADER BANNER=== */
.main-header {
  width: 100%;
  height: 0;
  padding-top: 20.83%;
  background-image: url(../img/hintergrund.jpg);
  background-size: contain;
}

.main-header-klein {
  width: 100%;
  height: 0;
  padding-top: 15.625%;
  background-image: url(../img/hintergrund-klein.jpg);
  background-size: contain;
}

/*NEWSLETTER BEREICH*/
.news-section {
  background-color: #3d3f45;
  width: 100%;
  padding-bottom: 0;
  padding-top: 0;
}
.news-section p {
  color: white;
}
.news-section span {
  font-weight: bold;
}

#form {
  margin-top: 0.7rem;
  text-align: right;
}

.form-label {
  display: none;
}

.form-input {
  width: 65%;
  height: 30px;
  border: 2px solid white;
  padding: 0.4rem;
}

#form-button {
  background-color: #A62C21;
  border: 2px solid #A62C21;
  color: white;
  padding: 0.4rem 0.6rem;
  height: 31px;
}

#form-button:hover {
  border: 2px solid white;
  transition: border 0.5s ease-in-out;
}

@media (max-width: 1179px) {
  .form-input {
    width: 60%;
  }
}
@media (max-width: 1040px) {
  .form-input {
    width: 100%;
  }

  .form-button {
    width: 100%;
  }
}
@media (max-width: 768px) {
  #form-text {
    display: none;
  }

  #form {
    margin-top: 0;
  }

  .news-section .col-4 {
    display: none;
  }
}
@media (max-width: 480px) {
  .form-input {
    height: 25px;
  }

  .form-button {
    height: 25px;
  }
}
/* LOGO*/
@keyframes logoAnimation {
  0% {
    transform: rotateZ(0deg);
  }
  11.111% {
    transform: rotateZ(0deg);
  }
  22.222% {
    transform: rotateZ(90deg);
  }
  33.333% {
    transform: rotateZ(90deg);
  }
  44.444% {
    transform: rotateZ(180deg);
  }
  55.555% {
    transform: rotateZ(180deg);
  }
  66.666% {
    transform: rotateZ(270deg);
  }
  77.777% {
    transform: rotateZ(270deg);
  }
  88.888% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
#animiertes-logo {
  height: 150px;
  width: 150px;
  background-color: #3d3f45;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 4rem;
  padding: 25px;
}
#animiertes-logo img {
  display: block;
  width: 100px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  animation: logoAnimation 5s ease-in-out infinite alternate;
}

/*Leistungen-Bereich*/
.intro-container {
  text-align: center;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2.5rem;
}
.intro-container h1 {
  text-transform: uppercase;
}

@media (max-width: 1366px) {
  .intro-container {
    width: 90%;
  }
}
@media (max-width: 1024px) {
  .intro-container {
    width: 100%;
  }
}
.leistungen-box {
  background-color: #3d3f45;
  text-align: center;
  color: white;
  padding: 1rem 3rem 2.5rem;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.6rem;
}
.leistungen-box h2 {
  font-size: 1.2rem;
}
.leistungen-box p {
  font-size: 1rem;
}

@media (max-width: 1366px) {
  .leistungen-box p {
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 1024px) {
  .leistungen-box p {
    margin-bottom: 0;
  }
}
#leistungen-section .row > .col-3:nth-of-type(even) > .leistungen-box {
  margin-left: 1rem;
  margin-right: auto;
}

#leistungen-section .row > .col-3:nth-of-type(odd) > .leistungen-box {
  margin-right: 1rem;
  margin-left: auto;
}

.leistung-btn {
  text-decoration: none;
  height: 40px;
  background-color: transparent;
  border: 2px solid white;
  display: inline-block;
  padding-top: 0.5rem;
  width: 40%;
  min-width: 100px;
  margin-top: 1rem;
}

.leistung-btn:link {
  color: white;
}

.leistung-btn:active {
  color: white;
}

.leistung-btn:visited {
  color: white;
}

.leistung-btn:hover {
  color: #A62C21;
  border: 2px solid #A62C21;
  transition: color 0.5s ease-in-out, border 0.5s ease-in-out;
}

@media (max-width: 1366px) {
  .leistungen-box {
    width: 80%;
  }
}
@media (max-width: 1024px) {
  .leistungen-box {
    width: 100%;
    margin-bottom: 0.6rem;
  }

  #leistungen-section .row > .col-3:nth-of-type(even) > .leistungen-box {
    margin-left: 0.5rem;
  }

  #leistungen-section .row > .col-3:nth-of-type(odd) > .leistungen-box {
    margin-right: 0.5rem;
  }
}
@media (max-width: 768px) {
  #leistungen-section .row > .col-3:nth-of-type(even) > .leistungen-box {
    margin-left: 0;
  }

  #leistungen-section .row > .col-3:nth-of-type(odd) > .leistungen-box {
    margin-right: 0;
  }
}
/*VIDEO-BEREICh*/
#video-section {
  background-color: #3d3f45;
  color: white;
}
#video-section video {
  width: 35%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media (max-width: 1440px) {
  #video-section video {
    width: 45%;
  }
}
@media (max-width: 1024px) {
  #video-section video {
    width: 60%;
  }
}
@media (max-width: 768px) {
  #video-section video {
    width: 75%;
  }
}
@media (max-width: 480px) {
  #video-section video {
    width: 100%;
  }
}
/*SERVICE-BEREICH*/
#service-section {
  background-color: #F0F0F0;
}

.service-box {
  text-align: center;
  width: 80%;
}
.service-box h2 {
  font-size: 1.2rem;
}
.service-box p {
  font-size: 1rem;
}

#service-section .row:nth-of-type(2) > .col-2:first-of-type > .service-box {
  margin-right: 0;
  margin-left: auto;
}

#service-section .row:nth-of-type(2) > .col-2:nth-of-type(2) > .service-box {
  margin-right: auto;
  margin-left: auto;
}

.service-icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  transition: transform 1s;
}

.service-icon:hover {
  transform: rotateZ(360deg);
}

#gunstig-icon {
  background: #3d3f45 url("../img/services-sprite.png") 0 0;
}

#schnell-icon {
  background: #3d3f45 url("../img/services-sprite.png") -120px 0;
}

#modern-icon {
  background: #3d3f45 url("../img/services-sprite.png") -240px 0;
}

@media (max-width: 768px) {
  #service-section .row:nth-of-type(2) > .col-2:first-of-type > .service-box {
    margin-right: auto;
    margin-left: auto;
  }

  #service-section .row:nth-of-type(2) > .col-2:nth-of-type(3) > .service-box {
    margin-right: auto;
    margin-left: auto;
  }
}
/*ÜBER UNS BEREICH*/
#über-uns-section {
  background-color: white;
}

#über-uns-container {
  position: relative;
  width: 87%;
  margin-right: auto;
  margin-left: auto;
}
#über-uns-container img {
  position: absolute;
  top: 0;
  right: 100px;
  height: 100%;
}
#über-uns-container p {
  width: 75%;
  font-size: 1.2rem;
}

@media (max-width: 1440px) {
  #über-uns-container img {
    right: 50px;
  }
}
@media (max-width: 1280px) {
  #über-uns-container img {
    right: 0;
  }
}
@media (max-width: 1140px) {
  #über-uns-container p {
    width: 70%;
  }
}
@media (max-width: 1023px) {
  #über-uns-container img {
    display: none;
  }
  #über-uns-container p {
    width: 100%;
  }
}
/* FOOTER*/
#footer {
  background-color: #3d3f45;
  height: 2.8rem;
  color: white;
}

#nav-footer {
  display: inline-block;
  float: right;
}
#nav-footer a {
  text-decoration: none;
}
#nav-footer a:link {
  color: white;
}
#nav-footer a:hover {
  color: #3d3f45;
}
#nav-footer a:visited {
  color: white;
}
#nav-footer a:active {
  color: white;
}

@media (max-width: 565px) {
  #footer span {
    display: none;
  }
}
/*LEISTUNGEN-SEITE*/
.flex-container {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  align-items: center;
}
.flex-container .intro-container {
  width: 100%;
}

.leistung-teazer-box {
  background-color: #3d3f45;
  color: white;
  padding: 2rem 2rem;
  text-align: center;
  width: 320px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.leistung-teazer-box li {
  list-style-position: inside;
  margin-bottom: 0.4rem;
}
.leistung-teazer-box ul {
  padding-inline-start: 0;
}
.leistung-teazer-box h1 {
  margin-bottom: 0;
}

#leistungs-box-empfohlen {
  min-height: 400px;
  width: 330px;
  box-shadow: 0 0 20px 0 #3d3f45;
  font-size: 1.1rem;
}

@media (max-width: 1366px) {
  .flex-container {
    width: 90%;
  }
}
@media (max-width: 1200px) {
  .flex-container {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
}
.btn-typ-2 {
  background-color: #3d3f45;
  width: 55%;
  font-size: 1rem;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
  height: 2.5rem;
  padding: 0.3rem;
  color: white;
}

.btn-typ-2:hover {
  font-weight: normal;
}

.leistungs-box-empfohlen {
  flex-basis: 27.5%;
  min-height: 700px;
  box-shadow: 0 0 20px 0 #3d3f45;
}

/*KONTAKT SEITE*/
#kontakt-formular input,
#kontakt-formular textarea {
  width: 100%;
  border: 2px solid #3d3f45;
  font-family: "Lato", "Raleway", "Helvetica Neue", "Arial", sans-serif;
  padding: 0.5rem;
  font-size: 1rem;
  color: #3d3f45;
}

#kontakt-formular input:hover,
#kontakt-formular textarea:hover,
#kontakt-formular button:hover {
  border: 2px solid #A62C21;
  transition: border 0.5s ease-in-out;
}

@media (max-width: 768px) {
  #kontakt-formular button {
    width: 100%;
  }
}
.btn-typ-3 {
  border: 2px solid #3d3f45;
  background-color: transparent;
  font-size: 1rem;
  color: #3d3f45;
  width: 150px;
  height: 39px;
}

#kontakt-formular {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 4rem;
}

@media (max-width: 1366px) {
  #kontakt-formular {
    width: 90%;
  }
}
@media (max-width: 1024px) {
  #kontakt-formular {
    width: 100%;
  }
}
/*IMPRESSUM*/
#impressum a {
  text-decoration: none;
  color: #3d3f45;
  font-weight: bold;
}

/*===GRID SYSTEM (Sichtbarkeit)===


.border, .border *{
border: 1px solid #91C4FF
}
[class*='col-']{
    background-color: #BFDDFF;
}
p{
    background-color: #91C4FF;
    padding: 0;
    margin: 0;
    color: #FFF;
    text-align: center;
}


*/
/*===GRID SYSTEM===*/
.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*=col-] {
  float: left;
  min-height: 1%;
  padding: 0.8rem;
}

.col-1 {
  width: 16.666%;
}

.col-2 {
  width: 33.333%;
}

.col-3 {
  width: 50%;
}

.col-4 {
  width: 66.666%;
}

.col-6 {
  width: 100%;
}

@media (max-width: 1024px) {
  .col-1 {
    width: 33.333%;
  }
}
@media (max-width: 768px) {
  .col-1 {
    width: 50%;
  }

  .col-2 {
    width: 100%;
  }

  .col-3 {
    width: 100%;
  }

  .col-4 {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .col-1 {
    width: 100%;
  }

  .col-2 {
    width: 100%;
  }

  .col-3 {
    width: 100%;
  }

  .col-4 {
    width: 100%;
  }

  .col-6 {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
